<div class="aboutus">
    <h1>About us</h1>
</div>

<div class="infodump">
    <h4>We are a Georgian based IT startup who work on a number of projects, our most successful being HoundApi, an anime API website similar to sites like MAL or Jikan. We are honored to have so many skilled people on our team.</h4>
</div>

<div class="lorem">
    <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At dignissimos doloremque, eaque ullam dolorum quas quibusdam similique voluptatem, eum maiores commodi tempore rerum earum a necessitatibus harum animi exercitationem, iste quaerat magni. Repudiandae, error molestias culpa enim ratione repellendus necessitatibus nostrum vel provident praesentium quaerat architecto eveniet ab libero, tempora iste commodi. Debitis, nulla dolores. Nesciunt laudantium cupiditate obcaecati est quisquam. Ipsum quisquam corporis ullam architecto, omnis molestiae consequatur quas, fugit ipsa quaerat, tempora aperiam? Vel dolor numquam sit ab nobis, blanditiis veniam, labore enim ullam, maxime vero illum similique?Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, amet quidem corrupti expedita est recusandae adipisci non aut voluptatum, delectus sed rem ad eligendi eius!</h6>
</div>
