.aboutus{
    font-family: sans-serif;
    text-align: center;
    margin-top: 45px;
}
.infodump{
    font-family: sans-serif;
    text-align: center;
    margin-top: 45px;
}
.lorem{
    font-family: sans-serif;
    text-align: center;
    margin-top: 75px;
}